*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
    font-family: sans-serif;
}

.conteiner{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.navbar{
    background: #ffffff;
    height: 40px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo{
    display: flex;
    align-items: center;
    gap: 60px;
     ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
         a{
            color: #000;
            font-size: 20px;
         }
     }
 
}
.items{
    ul{
        display: flex;
        gap: 40px;
        align-items: center;
        a{
            font-size: 20px;
            color: #000;
        }
    }
    svg{
        font-size: 30px;
    }
 }